.single-event {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.single-event .event-creator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-event .event-creator p,
.single-event .event-creator button {
  display: block;
}
.single-event .event-creator button {
  padding: 0.5rem 1.5rem !important;
}
